

.building-detail{
    width: 100%;
}

.building-detail--title{
    text-align: center;
    font-size: 56px;
    font-family: "Ubuntu";
    box-shadow: 0 0 0.3 gray;
    margin: 20px 0 30px;
}

.building-detail--text{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.building-detail--item{
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
    color: black;
}

.building-detail--item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.building-detail--item h3{
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 30px;
}

.building-detail--item img{
    width: 25px;
    height: 25px;
}

.building-detail--slider{
    margin-top: 80px;
}


.building-create--map{
    width: auto;
    height: 50vh;
    position: relative;
}
.building-detail--map{
    width: 50% !important;
    height: 50vh;
    position: relative;
}

.column{
    display: flex;
    flex-direction: column;
}

.slider-img{
    height: 250px;
}

.slider-row{
    display: flex;
    justify-content: space-around;
}

.row{
    display: flex;
    margin: 0 !important;
}

.carousel .carousel-indicators{
    display: none;
}

.carousel-control-next-icon{
    width: 30px !important;
    height: 30px !important;
}

.visually-hidden{
    display: none;
}

.carousel-caption{
    padding: 0 !important;
    color: black !important;
}

.carousel-caption p {
    margin-bottom: 0;
}

.carousel-control-next{
    right: -80px !important;
}



.carousel-control-prev{
    left: -80px !important;
}


/*building list styles*/
body {
    background: #eee
}

.image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h3 {
    font-weight: 400
}

.icon-style {
    margin-left: 20px;
    background-color: cadetblue;
}
.icon {
    color:brown;
}
.input-group-button {
    padding: 0 0 0 5px;
    border-color: transparent;
    background: none;
}

.btn {
    color: #e5dc15;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1rem;
    padding: 0.5rem;
    border: 2px solid #e5dc15;
    border-radius: 0.5rem;
  }
  
  .btn:hover {
    background: #e5dc15;
    color: #0e79b2;
  }
  .sb-select {
    float: right;
    overflow: hidden;
  }